
@{
    ViewData["Title"] = "Change password";
}
<div class="container mt-4">
    <nav aria-label="breadcrumb" class="pb-0 py-3 border-bottom">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Account" asp-action="Profile">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change password</li>
        </ol>
    </nav>

    <div class="section">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="container">
                    <h3 class="text-center">Change Password</h3>
                    <p class="text-danger text-center"><strong>Error</strong></p>

                    <form action="/User/EditPassword" method="post" id="form-password" novalidate="novalidate">
                        <!-- <input type="text" name="customerId" value="1" hidden=""> -->
                        <div class="form-group">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-3">
                                    <label for="current-password" class="col-form-label px-0">Current Password</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" class="form-control" id="current-password" name="current-password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-3">
                                    <label for="password" class="col-form-label px-0">Password</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row justify-content-between">
                                <div class="col-12 col-md-3">
                                    <label for="confirm-password" class="col-form-label px-0">Confirm Password</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

