@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link rel="shortcut icon" href="~/images/material/Favicon.svg">
    <link rel="stylesheet" href="~/css/reset-password.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/toastr.min.css" />

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<body>
    <div class="container container-custom" id="wrap-content">
        <h2 class="title">Reset your password</h2>
        <p class="desc">Enter your user account's verified email address and we will send you a password reset link.</p>
        <form action="#" method="post" id="form-forgot">
            <div class="form-group">
                <div>
                    <input type="email" name="email" placeholder="Enter your email address" />
                </div>
            </div>

            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6Le08WEhAAAAAED2XmI36xdWlx2tuEYIRSMEgB3e" data-callback="enableBtn"></div>
                <small class="text-danger">
                    @ViewBag.captcha
                </small>
            </div>

            <button class="btn-submit btn-custom-loading" type="submit" disabled="disabled">
                <div class="loader"></div><span>Send password reset email</span>
            </button>
        </form>
    </div>
    <div class="container hide" id="successSendEmail">
        <p class="desc">Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
        <a asp-controller="Account" asp-action="LoginRegistration" class="btn-return">Return to sign in</a>
    </div>

    <script src="~/js/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/jquery/dist/jquery.min.js"></script>
    <script>
        function enableBtn() {
            document.querySelector(".btn-submit").disabled = false;
        }


        const wrapContent = document.querySelector("#wrap-content");
        const successSendEmail = document.querySelector("#successSendEmail");


        document.querySelector('#form-forgot').addEventListener('submit', function (event) {
            event.preventDefault();
            let emailInput = this.elements["email"].value;

            $.ajax({
                type: 'POST',
                url: '/Account/ForgotPassword',
                data: {
                    email: emailInput
                },
                beforeSend: function () {
                    document.querySelector(".btn-submit").classList.add("is-loading");
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 200) {
                        console.log(data.smg);

                        toastr.success(data.smg);

                        !wrapContent.classList.contains("hide") && wrapContent.classList.add("hide");
                        successSendEmail.classList.contains("hide") && successSendEmail.classList.remove("hide");
                    }
                    else if (data.status == 500) {
                        console.log(data.smg);

                        toastr.error(data.smg);

                        document.querySelector(".btn-submit").classList.remove("is-loading");
                    }
                },
                error: function (err) {
                    document.querySelector(".btn-submit").classList.remove("is-loading");
                    alert("Error!")
                }
            });
            //this.submit();
        });


    </script>
</body>

</html>

