@model CustomerViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Registration</title>
    <link rel="shortcut icon" href="~/images/material/Favicon.svg">
    <link rel="stylesheet" href="~/css/login-registration.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/toastr.min.css" asp-append-version="true" />
</head>

<body>
    <partial name="_Notification" />
    <section>
        <div class="container">
            <div class="user singinBx">
                <div class="imgBx"><img src="~/images/login/lock.jpg" alt=""></div>
                <div class="formBx">

                    <form id="form-valide-login" asp-action="Login" method="post">
                        <h2>Sign In</h2>
                        <p class="incorrect-smg">@TempData["loginFail"]</p>
                        <div class="form-group">
                            <div>
                                <input type="email" name="email" placeholder="Your email address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="password" name="password" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="wrap-submit">
                            <button type="submit" class="btn-submit">Login</button>
                            <a asp-controller="Account" asp-action="ForgotPassword" class="forgot-pwd">Forgot password?</a>
                        </div>
                        <p class="signup">Don't have an account ? <a href="#" onclick="toggleForm();">Sign Up.</a></p>
                    </form>

                </div>
            </div>
            <div class="user singupBx">
                <div class="formBx">
                    <form id="form-valide-registration" action="#" method="post">
                        <h2>Create an account</h2>
                        <p class="msgError"></p>
                        <div class="form-group">
                            <div>
                                <input type="text" asp-for="FirstName" placeholder="First name">
                                <span asp-validation-for="FirstName" class="text-danger msg-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="text" asp-for="LastName" placeholder="Last name">
                                <span asp-validation-for="LastName" class="text-danger msg-error"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <input type="email" asp-for="Email" placeholder="Email Address">
                                <span asp-validation-for="Email" class="text-danger msg-error"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn-submit registration btn-custom-loading">
                            <div class="loader"></div><span>Sign Up</span>
                        </button>
                        <p class="signup">Already have an account ? <a href="#" onclick="toggleForm();">Sign In.</a></p>
                    </form>

                    <div class="signup-success text-center hide">
                        <img src="~/images/material/ads-success-icon.png" alt="success signup" />

                        <h2 class="signin-heading">Successfully register your account</h2>
                        <p class="signin-text">
                            Please check your email <strong id="email-register"></strong> to get your account
                            information.<br />
                            You can change your password later
                        </p>
                        <button class="btn-submit" onclick="toggleForm();">Login</button>
                    </div>

                </div>
                <div class="imgBx"><img src="~/images/login/key.jpg" alt=""></div>
            </div>
        </div>
    </section>


    <script src="~/js/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        function toggleForm() {
            var section = document.querySelector('section');
            var container = document.querySelector('.container');
            container.classList.toggle('active');
            section.classList.toggle('active');
        }

        const formSubmit = document.querySelector("#form-valide-registration");
        formSubmit.addEventListener("submit", function(e) {
            e.preventDefault();
            var firstName = formSubmit.elements["FirstName"].value;
            var lastName = formSubmit.elements["LastName"].value;
            var email = formSubmit.elements["Email"].value;
            console.log({ firstName, lastName, email })
            if (firstName != '' || lastName != '' || email != '') 
            {

                $.ajax({
                    url: "/Account/Registration",
                    type: "POST",
                    data: {
                        firstName: firstName,
                        lastName: lastName,
                        email: email,
                    },
                    beforeSend: function () {
                        document.querySelector(".msgError").textContent = "";

                        const btnSubmit = document.querySelector(".btn-custom-loading");
                        btnSubmit.classList.add("is-loading");
                    },
                    success: function (data) {
                        const btnSubmit = document.querySelector(".btn-custom-loading");
                        btnSubmit.classList.remove("is-loading");

                        if (data.status) {
                            const successRegister = document.querySelector(".signup-success");
                            successRegister.classList.remove("hide");

                            formSubmit.classList.add("hide")

                            document.querySelector("#email-register").textContent = data.email;

                        }
                        else {
                            document.querySelector(".msgError").textContent = data.msg;
                        }
                    },
                    error: function (err) {
                        const btnSubmit = document.querySelector(".btn-custom-loading");
                        btnSubmit.classList.remove("is-loading");
                    }
                });
            }
        })
    </script>

</body>

</html>