@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link rel="shortcut icon" href="~/images/material/Favicon.svg">
    <link rel="stylesheet" href="~/css/reset-password.css" asp-append-version="true">


</head>
<body>
    <div class="container container-custom">
        <h2 class="title">
            Change password for @ViewBag.Email
        </h2>
        <p class="desc">Enter your user account's verified email address and we will send you a password reset link.</p>

        <form action="~/Account/ResetPassword" method="post" id="form-forgot">
            <input type="text" name="customerId" value="@ViewBag.CustomerId" hidden/>
            <input type="text" name="token" value="@ViewBag.token" hidden/>
            <div class="form-group">
                <div>
                    <input type="password" name="password" id="password" placeholder="New password" required />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="password" name="confirm-password" placeholder="Confirm password" required />
                </div>
            </div>

            <button class="btn-submit" type="submit">Change password</button>
        </form>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script>
        jQuery("#form-forgot").validate({
            rules: {
                "password": {
                    required: !0,
                    minlength: 5
                },
                "confirm-password": {
                    required: !0,
                    equalTo: "#password"
                },
            },
            messages: {
                "password": {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                "confirm-password": {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    equalTo: "Please enter the same password as above"
                },
            },

            ignore: [],
            errorClass: "invalid-feedback animated fadeInUp",
            errorElement: "div",
            errorPlacement: function (e, a) {
                jQuery(a).parents(".form-group > div").append(e)
            },
            highlight: function (e) {
                jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
            },
            success: function (e) {
                jQuery(e).closest(".form-group").removeClass("is-invalid"), jQuery(e).remove();
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
    </script>
</body>
</html>
