@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 510px;
    padding: 44px 38px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.hide {
    display: none;
}

.title {
    text-align: center;
    margin-bottom: 14px;
}

.desc {
    margin-bottom: 12px;
}

#form-forgot {}

#form-forgot input {
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    margin-bottom: 4px;
    border: 1px solid #d2cccc;
    border-radius: 7px;
}

.form-group {
    margin-bottom: 12px;
}

.btn-submit {
    font-size: 16px;
    padding: 10px 0;
    border: 1px solid #ccc;
    background-color: #2da44e;
    width: 100%;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 24px;
}

.btn-return {
    font-size: 16px;
    padding: 6px 0;
    color: black;
    text-decoration: none;
    border: 1px solid;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-return:hover,
.btn-submit:hover {
    opacity: .6;
}

.btn-submit:disabled {
    opacity: .8;
    cursor: not-allowed;
}

.btn-submit.active {
    pointer-events: none;
    background-color: #94d3a2;
}

.invalid-feedback {
    font-size: 11px;
    color: red;
}

.btn-custom-loading {
    position: relative;
    transition: all .3s;
}

.btn-custom-loading .loader {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    border-left: 3px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s infinite linear forwards;
    opacity: 0;
    visibility: hidden;
}

.btn-custom-loading.is-loading {
    pointer-events: none;
    opacity: .8;
}

.btn-custom-loading.is-loading .loader {
    opacity: 1;
    visibility: visible;
}

.btn-custom-loading.is-loading span {
    visibility: hidden;
}


@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@media (max-width: 46.1875em) {
    #none-login a::after,
    #cart-element a::after {
        content: none !important;
    }

    .icon-content {
        width: auto !important;
        flex-direction: column;
        text-align: center;
    }    
    .icon-content img {
        margin: 0 auto;
    }
    .wrap-profile {
        flex-direction: column-reverse;
    }
    .wrap-change-password {
        width: 70%!important
    }
    .container-custom {
        width: 100%
    }
}