.active>.page-link, .page-link.active {
    background-color: #11101D!important;
    border-color: #11101D!important;
    color: #fff;
}
.active>.page-link:hover {
    color: #fff;
}

.page-link {
    color: #000;
}
.page-link:hover {
    color: #000;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}