<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="padding: 14px 28px; width: 60%; margin: 0 auto; border: 1px solid #e2e1e1; font-size: 16px;">
        <p>
            Hi {{name}}, you just have completed the registration of Footwear account at : <a href="{{url}}/Login-registration">{{url}}/Login-registration</a>
        </p>
        <p>
            Below is your login information at Footwear:
            <ul>
                <li>Username: {{email}}</li>
                <li>Password: {{password}}</li>
                <li>Login at: <a href="{{url}}/Login-registration">{{url}}/Login-registration</a></li>
            </ul>
        </p>
        <p>You can change your password at any time. If you don't remember your password, you can use the "Forgot password" feature in the login page <a href="{{url}}/Forgot-password">{{url}}/Forgot-password</a>.</p>
        <p>If any issues, please contact us again, I went through Item Support at Contact page. <a href="{{url}}/Contact">{{url}}/Contact</a></p>
    </div>
</body>
</html>