<a asp-controller="Cart" asp-action="CartPage" class="wrap-cart d-flex align-items-center">
    <i class="uil uil-shopping-bag fs-4"></i>
    <span class="d-none d-md-block ms-1">Cart</span> [<span class="cart-quantity"></span>]
</a>

<script>
    function GetNumberItemCart() {
        $.ajax({
            url: "/Cart/GetQuantityCartNavbar",
            type: "GET",
            success: function (data) {
                const quantityElement = document.querySelector(".cart-quantity");
                quantityElement.innerHTML = `${data.quantity}`;
            },
            error: function (err) {
            }
        });
    }
    GetNumberItemCart();
</script>