@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-4">
    <nav aria-label="breadcrumb" class="pb-0 py-3 border-bottom">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact</li>
        </ol>
    </nav>

    <div class="section">
        <div>
            <h3 class="text-center text-md-start">Contact information</h3>
            <div class="row mt-3">
                <div class="col-12 col-md-3 mt-2 md-md-0">
                    <i class="fa-solid fa-location-dot me-2 fs-5"></i> 198 West 21th Street, Suite 721 New York NY 10016
                </div>
                <div class="col-12 col-md-3 mt-2 md-md-0">
                    <a href="tel: 0706437167"><i class="fa-solid fa-phone me-2 fs-5"></i> +0706 437 167</a>
                </div>
                <div class="col-12 col-md-3 mt-2 md-md-0">
                    <a href="mailto: ntdung8124@gmail.com"><i class="fa-solid fa-envelope me-2 fs-5"></i> ntdung8124@gmail.com</a>
                </div>
                <div class="col-12 col-md-3 mt-2 md-md-0">
                    <a href="http://www.nguyenthanhdung.tk/"><i class="fa-solid fa-globe me-2 fs-5"></i> http://www.nguyenthanhdung.tk</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="contact-wrap">
                    <h3 class="text-center">Get In Touch</h3>
                    <form id="contact-form" class="font-weight-bold">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name" class="form-label fw-semibold">Full name</label>
                                    <div>
                                        <input type="text" id="Name" name="Name" class="form-control" placeholder="Your name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="email" class="form-label fw-semibold">Email</label>
                                    <div>
                                        <input type="text" id="email" name="Email" class="form-control" placeholder="Your email address">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="subject" class="form-label fw-semibold">Subject</label>
                                    <div>
                                        <input type="text" id="subject" name="Subject" class="form-control" placeholder="Your subject of this message">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message" class="form-label fw-semibold">Message</label>
                                    <div>
                                        <textarea id="message" name="Message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <div class="form-group text-end">
                                    <input type="submit" value="Send Message" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

